<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MinhToan_Manager.Properties.Settings.QLKS_MinhToanConnectionString"
            connectionString="Data Source=HC-COMPUTER;Initial Catalog=QLKS_MinhToan;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>